nav ul li a {
    list-style: none;
    margin-left: 10%;
    padding: 10px;
    font-size: 30px;
    font-weight: bold; /* Met le texte en gras */
    color: #bd7b02;
     -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  }
  
  
  nav ul li a:hover {
     border-color: transparent; /* Cadre initial transparent */
    border-radius: 10px;
    background-color: #cccccc80;
    background-size: 50px;
    border-color: #000000; /* Cadre noir au survol */
   
}

nav ul li {
    display: inline; /* Affiche les éléments de menu en ligne */
    margin-right: 20px; /* Marge entre les éléments de menu */
}

nav ul li:last-child {
    margin-right: 0; /* Supprime la marge du dernier élément */
}

nav ul li a {
    text-decoration: none; /* Supprime la décoration par défaut des liens */
}







article li {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alignement horizontal */
    width: 50%;
    padding: 2%;
    font-size: 25px; 
    background-color: rgba(255, 255, 255, 0.5);
    margin: 2%;
  }
  article ul{
    display: flex;
    flex-direction:row;
    align-items: center;
  }
  section p{
    color: aliceblue;
  }
  article h3 p{
    font-size: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5) /* Arrière-plan semi-transparent pour les titres */
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
  }

  article h2{ 
    color: aliceblue;
  }

footer h2{
  color: black;
}