header {
  background-size: cover; 
  background-position: center; 
  padding: 5px; 
  padding-top: 10px;
  margin: auto;
}
header nav {
  background-color: #cccccc80; 
background-size: cover; 
background-position: center; 
color: #000000; 
padding: 50px; 
}

header h1 {
  margin: 5%; 
  font-size: xx-large;
  font-size: 50px;
}
nav .img img{
  width: 5%;
  margin-right: 10px;
}
nav .img:hover {
  background: none;
  border: none;
}
nav ul li a {
  list-style: none;
  padding: 10px;
  font-size: 2vw; 
  font-weight: bold; 
  color: #bd7b02;
  -webkit-text-stroke-width: 0.5px; 
  -webkit-text-stroke-color: black;
  text-decoration: none;
}

nav .menu li a:hover {
   border-color: transparent; 
  border-radius: 10px;
  background-color: #cccccc80;
  background-size: 50px;
  border-color: #000000; 
 
}

nav ul li {
  display: inline; 
  margin-right: 20px; 
}

nav ul li:last-child {
  margin-right: 0; 
}

nav ul li a {
  text-decoration: none; 
}

div span{
  font-weight: bold; 
}



article li {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 50%;
    padding: 2%;
    font-size: 25px;
   
  }
  article div{
    display: flex;
    flex-direction: column;
  }

  article ul{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-top: 0%;
    align-items: flex-start;

  }
.comp{
  background-color: rgba(72, 43, 235, 0.5);
}
 .comp h3{
  text-decoration: underline;
  font-size: 30px;
}

.comp p{
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
  }
  .comp li p{
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
  }

  article h2{ 
    color: rgb(0, 0, 0);
    background-color: #cccccc80;
    display: inline;
  }
 section p{
    color: aliceblue;
    background-color: #2a158880;
    display: inline;
  }

h4{
  text-decoration: underline;
}
.comp h4{
  text-decoration: underline;
  font-size: 30px;
}